<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         timeoutForLargeTests="1200"
         verbose="true">
    <testsuites>
        <testsuite name="Common">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">assets</directory>
            <directory suffix=".php">base</directory>
            <directory suffix=".php">controllers</directory>
            <directory suffix=".php">extension</directory>
            <directory suffix=".php">helpers</directory>
            <directory suffix=".php">models</directory>
            <directory suffix=".php">widgets</directory>
        </whitelist>
    </filter>
</phpunit>